@import "./variablle.scss";

.visually-hidden {
  position: absolute;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

img {
  max-width: 100%;
  height: auto;
  font-size: 12px;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #161c35;
  padding: 0;
  min-width: 320px;
  font-family: "PT Mono", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

html {
  font-family: "scroll-behavior: smooth", sans-serif;
  scroll-behavior: smooth;
  --scroll-behavior: smooth;
}

a {
  font-family: "Roboto Condensed", "Arial", sans-serif;
}
