@import "./variablle.scss";

.list {
  margin: 0;
  padding: 0;

  &--two {
    margin-left: 75px;

    @media (max-width: $desktop) {
      margin-left: 0;
    }
  }

  & li {
    list-style: none;
  }
}
