
// BACKGROUND =====================================
$darkBackground: #1b2d37;
$lightBackground: #f8f8fb;
$blueBackground: #00b2ff;

// TEXT =====================================
$text: #ffffff;
$lightText: #788891;

// BORDER =====================================
$darkBorder: rgba(98, 105, 98, 0.2);

// media =====================================

$desktop: 1024px;
$tablet: 767px;
$mobile: 320px;

// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
