.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: $darkBackground;
  background-image: url("../img/boards-desktop@1x.png"),
    url("../img/triangles.svg"),
    url("../img/background-desktop@1x.png");
  background-position: 85.5% 71%, 80.2% 69.1%, center center;
  background-repeat: no-repeat;
  background-size: auto 58.6%, auto, cover;
  width: 100%;
  height: 100vh;
  max-height: 877px;
  color: $text;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/boards-desktop@2x.png"),
      url("../img/triangles.svg"),
      url("../img/background-desktop@2x.png");
  }

  @media (max-width: $desktop) {
    background-position: 165% 33%, 457px 82px, center top;
    background-size: auto 49%, auto 56%, cover;
    height: 686px;
  }

  @media (max-width: $desktop) and (min-resolution: $retina-dpi),
  (max-width: $desktop) and (min-resolution: $retina-dppx) {
    background-image: url("../img/boards-tablet@2x.png"),
      url("../img/triangles.svg"),
      url("../img/background-tablet@2x.png");
  }

  @media (max-width: $tablet) {
    background-image: url("../img/boards-mobile@2x.png"),
      url("../img/triangles.svg"),
      url("../img/background-mobile@1x.png");
    background-position: 130% 22%, 171px 76px, center top;
    background-size: auto 34%, auto 55%, cover;
    padding-right: 0;
    padding-left: 0;
    height: 647px;
  }

  @media (max-width: $tablet) and (min-resolution: $retina-dpi),
  (max-width: $tablet) and (min-resolution: $retina-dppx) {
    background-image: url("../img/boards-mobile@2x.png"),
      url("../img/triangles.svg"),
      url("../img/background-tablet@2x.png");
  }
}

.header h1 {
  text-transform: uppercase;
  color: $text;
}
